<%= form_for :session, url: session_path, class:'m-t' do |form| %>
  <div class="form-group">
    <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'email' %>
  </div>

  <div class="form-group">
    <%= form.password_field :password, class: 'form-control', placeholder: 'password' %>
  </div>
  <%= form.button t('.new_session'), class: 'btn btn-primary block full-width m-b', type: 'submit' %>
  <%= render 'shared/google_connect', path: @google_auth_path %>
  <div class="other-links">
    <%= link_to new_password_path do %>
      <small><%= t('.forgot_password') %></small>
    <% end %>
    <p class="text-muted text-center"><small><%= t '.no_account' %></small></p>
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t('.sign_up'), sign_up_path, class: 'btn btn-sm btn-white btn-block' %>
    <% end %>
  </div>
<% end %>
