<div class="middle-box text-center loginscreen   animated fadeInDown">
  <div>
    <h3>Register to IN+</h3>
    <p>Create account to see it in action.</p>
    <%= form_for @user, class:'m-t' do |form| %>
      <%= render '/users/form', form: form %>
      <div class="form-group">
        <div class="checkbox"><label> <input type="checkbox"><i></i> Agree the terms and policy </label></div>
      </div>
      <%= form.button t('.new_user'), class: 'btn btn-primary block full-width m-b', type: 'submit' %>

      <div class="other-links">
        <p class="text-muted text-center"><small><%= t('.has_account') %></small></p>
        <%= link_to t(".sign_in"), sign_in_path, class: 'btn btn-sm btn-white btn-block' %>
      </div>
    <% end %>
    <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
  </div>
</div>


