<table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
  <thead>
    <tr>
      <th><%= t('candidate.attributes.id') %></th>
      <th><%= t('candidate.attributes.full_name') %></th>
      <th data-hide="phone"><%= t('candidate.attributes.created_at') %></th>
      <th data-hide="phone"><%= t('candidate.attributes.updated_at') %></th>
      <th><%= t('status') %></th>
      <th class="text-right"><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% candidates.each do |candidate_object| %>
      <% present(candidate_object) do |candidate| %>
      <tr class='candidatesList-item'>
        <td><%= candidate.id %></td>
        <td><%= candidate.full_name %></td>
        <td><%= l candidate.created_at, format: :short %></td>
        <td><%= l candidate.updated_at, format: :short %></td>
        <td>
          <span class="label label-warning"><%= t('candidate.status.new') %></span>
        </td>
        <td class="text-right">
          <div class="btn-group">
            <%= link_to t('view'), candidate_path(candidate.id), class: 'btn-white btn btn-xs' %>
            <%= link_to t('edit'), edit_candidate_path(candidate.id), class: 'btn-white btn btn-xs' %>
            <%= link_to t('delete'), candidate_path(candidate.id), method: :delete, class: 'btn-white btn btn-xs', data: { confirm: t('candidate.messages.delete?') } %>
          </div>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="7">
        <ul class="pagination pull-right"></ul>
      </td>
    </tr>
  </tfoot>
</table>
